html {
    margin:0;
    padding:0;
    border:0;
}

div.topcontainer p:before{
    content: 'CERFAV - '
}

h1#logo, div.iconrezsoc, div.formtop, div.video-embed, div.a-voir, div.titre-a-voir, div#rezosocio, div#bouton_hideactu, div#bouton_hideactu2, div#navmenu, div#navmenu2, div.footercol{
    display: none
}

.actualites_mobile {
    padding-top:10px;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    /* border-top: 1px solid #000000; */
    width: 100%;
    height: auto;
}

.actualites_mobile p {
    margin-left: 15px;
    margin-right: 15px;
}

.resume a {
    margin-left: 15px;
    margin-right: 15px;
}

.actualites_mobile h2 {
    color: #000000;
    font-family: 'LeagueGothicRegular',Arial,Helvetica,sans-serif;
    font-size:22px;
    text-transform: none;	
    border: none;
    margin-left: 15px;
    margin-bottom: 5px;
}

.actualites_mobile h2 a {
    color: #000000;
    font-family: 'LeagueGothicRegular',Arial,Helvetica,sans-serif;
    font-size:22px;
    text-transform: none;	
    text-decoration: none;
    border: none;
}

.actualites_mobile h2 a:hover {
    text-decoration: none;
}

.actualites_mobile .categorie {
    border:1px solid #FF5400;
    text-transform: uppercase;
    color: #FF5400;
    font-size: 50px;
    padding: 1px;	
}

.actualites_mobile .categorie a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FF5400;
    font-size: 50px;
}
.actualites_mobile .categorie a:hover {
    text-decoration: none;
}

.imgactu, .top-actu-1 .imgactu img , .top-actu-1 .calque, .top-actu-2 .imgactu img , .top-actu-2 .calque, .top-actu-3 .imgactu img , .top-actu-3 .calque, .top-actu-4 .imgactu img , .top-actu-4 .calque{
    width: inherit;
}

.top-actu-1, .top-actu-2, .top-actu-3, .top-actu-4, .top-actu-1 .imgactu, .top-actu-2 .imgactu, .top-actu-3 .imgactu, .top-actu-4 .imgactu, .top-actu-1 .calque img, .top-actu-2 .calque img, .top-actu-3 .calque img, .top-actu-4 .calque img{
    width: 100%;
    height: auto;
}

.top-actu-1 .calque {
    position:absolute;
    width:100%;
    height:inherit;
    background: #ff5400;
    opacity: 0.7;
    z-index: 2;
}

.top-actu-2 .calque {
    position:absolute;
    width:100%;
    height:inherit;
    background: #0acf00;
    opacity: 0.7;
    z-index: 2;
}

.top-actu-3 .calque {
    position:absolute;
    width:100%;
    height:inherit;
    background: #7109aa;
    opacity: 0.7;
    z-index: 2;
}

.top-actu-4 .calque {
    position:absolute;
    width:100%;
    height:inherit;
    background: #ffb600;
    opacity: 0.7;
    z-index: 2;
}

.gauche_mobile{
    width: 40%;
    display: inline-block;
    vertical-align:top;
}

.gauche_mobile img{
    width: 100%;
}

.droite_mobile{
    width: 60%;
    display: inline-block;
    font-size: 25px;
}

.droite_mobile a, .chapo, .chapo a, .texte, .texte a, .texte p span, .texte p strong , a.retour{
    font-size: 25px;
}


.droite_mobile h2 a, h1.titre_actu_m{
    font-size: 40px;
}

.pagination_m {
    position: absolute;
    z-index: 20;
    left: 10px;
    bottom: 10px;
}

.swiper-pagination-switch {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #555;
    margin-right: 5px;
    opacity: 0.8;
    border: 1px solid #fff;
    cursor: pointer;
}

.swiper-active-switch {
    background: #fff;
}

div.social{
    display : none;
}

div.image {
    width: 100%;
    height: auto;
}

div.image img{
    width: 100%;
}

.contenu_m h1 {
    border-bottom: 1px solid #ff5400; 
    color: #ff5400; 
    font-size: 50px;
    font-family: 'LeagueGothicRegular',Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
}

.logo_mobile{
    color: #ff5400; 
    font-size: 300px;
    font-family: 'Minuscule2Regular', arial, sans-serif, Helvetica, Geneva, SunSans-Regular;
    font-weight: normal;
    font-style: normal; 
    text-decoration: none;
}

.logo_mobile span{
    align : center;
}

.entree {
    margin: 0;
    width: 100%;
    text-align: center;
}

.entree a {
    width: auto;
    text-align: center;
    font-size: 100px;
}

span.entete {
    display: block;
    background-color: #ff5400;
    width: 100%;
    color : #ffffff;
    font-size: 30px;
    font-family: 'LeagueGothicRegular',Arial,Helvetica,sans-serif;
}